*{
    margin: 0;
    padding: 0;
    font-family: 'Tahoma', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 100vh;
    background: #2c313c;
    display: flex;
    align-items: center;
    justify-content: center;
}
#todo, #finish{
    width: 300px;
    min-height: 400px;
    margin: 20px;
    border: 2px solid #1c212c;
    border-radius: 12px;
}
.list{
    background: #0c111c;
    box-shadow: 1px 1px 5px #232323;
    height: 60px;
    weight: 30px;
    margin: 15px;
    border-radius: 10px;
    padding: 10px;
    color: #cfcfcf;
    display: flex;
    align-items: center;
    cursor: grab;
}